[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
torchvision = "*"
torchinfo = "*"
wandb = "*"
matplotlib = "*"
torcheval = "*"
seaborn = "*"
scikit-image = "*"
torchtext = "*"
datasets = "*"
gymnasium = "*"
jdc = "*"
ipywidgets = "*"
pyglet = "*"
pygame = "*"
# for cuda
# ---------------------------
#[[source]]
#name = "cuda-pytorch"
#url = "https://download.pytorch.org/whl/cu118"
#verify_ssl = false
#torch = { index = "cuda-pytorch", version = "*" }
#torchvision  = { index = "cuda-pytorch", version = "*" }
#numpy = { index = "cuda-pytorch", version = "*" }
# ---------------------------
torch-geometric = "*"
scikit-learn = "*"
tensorflow = "*"
opencv-python = "*"
captum = "*"
timm = "*"

[dev-packages]

[requires]
python_version = "3.12"
